@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Versions;

@inject RecaptchaSettings RecaptchaSettings

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="form-group">
            @(Html.Recaptcha<RecaptchaV2Checkbox>(RecaptchaSettings))
        </div>
        <button id="recaptcha" type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
}